#datetime-picker {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  outline: transparent;
  margin-top: 36px;
  box-sizing: border-box;
  padding-left: 16px;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
}

button {
  width: 75px;
  height: 40px;
  border-radius: 8px;
  background: #cfcfcf;
  border: none;
  margin-left: 8px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #4e75ff;
}

button:not([disabled]):hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  width: 355px;
  gap: 24px;
  margin-top: 32px;
}
.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
.field {
  text-align: center;
}
.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
